$colors: (
  red: (
    100: hsl(0, 100%, 90%),
    200: hsl(0, 100%, 80%),
    300: hsl(0, 100%, 70%),
    400: hsl(0, 100%, 60%),
    500: hsl(0, 100%, 50%),
    600: hsl(0, 100%, 40%),
    700: hsl(0, 100%, 30%),
    800: hsl(0, 100%, 20%),
    900: hsl(0, 100%, 10%),
  ),
  orange: (
    100: hsl(30, 100%, 90%),
    200: hsl(30, 100%, 80%),
    300: hsl(30, 100%, 70%),
    400: hsl(30, 100%, 60%),
    500: hsl(30, 100%, 50%),
    600: hsl(30, 100%, 40%),
    700: hsl(30, 100%, 30%),
    800: hsl(30, 100%, 20%),
    900: hsl(30, 100%, 10%),
  ),
  yellow: (
    100: hsl(60, 100%, 90%),
    200: hsl(60, 100%, 80%),
    300: hsl(60, 100%, 70%),
    400: hsl(60, 100%, 60%),
    500: hsl(60, 100%, 50%),
    600: hsl(60, 100%, 40%),
    700: hsl(60, 100%, 30%),
    800: hsl(60, 100%, 20%),
    900: hsl(60, 100%, 10%),
  ),
  yellow-green: (
    100: hsl(90, 100%, 90%),
    200: hsl(90, 100%, 80%),
    300: hsl(90, 100%, 70%),
    400: hsl(90, 100%, 60%),
    500: hsl(90, 100%, 50%),
    600: hsl(90, 100%, 40%),
    700: hsl(90, 100%, 30%),
    800: hsl(90, 100%, 20%),
    900: hsl(90, 100%, 10%),
  ),
  green: (
    100: hsl(120, 100%, 90%),
    200: hsl(120, 100%, 80%),
    300: hsl(120, 100%, 70%),
    400: hsl(120, 100%, 60%),
    500: hsl(120, 100%, 50%),
    600: hsl(120, 100%, 40%),
    700: hsl(120, 100%, 30%),
    800: hsl(120, 100%, 20%),
    900: hsl(120, 100%, 10%),
  ),
  green-cyan: (
    100: hsl(150, 100%, 90%),
    200: hsl(150, 100%, 80%),
    300: hsl(150, 100%, 70%),
    400: hsl(150, 100%, 60%),
    500: hsl(150, 100%, 50%),
    600: hsl(150, 100%, 40%),
    700: hsl(150, 100%, 30%),
    800: hsl(150, 100%, 20%),
    900: hsl(150, 100%, 10%),
  ),
  cyan: (
    100: hsl(180, 100%, 90%),
    200: hsl(180, 100%, 80%),
    300: hsl(180, 100%, 70%),
    400: hsl(180, 100%, 60%),
    500: hsl(180, 100%, 50%),
    600: hsl(180, 100%, 40%),
    700: hsl(180, 100%, 30%),
    800: hsl(180, 100%, 20%),
    900: hsl(180, 100%, 10%),
  ),
  cyan-blue: (
    100: hsl(210, 100%, 90%),
    200: hsl(210, 100%, 80%),
    300: hsl(210, 100%, 70%),
    400: hsl(210, 100%, 60%),
    500: hsl(210, 100%, 50%),
    600: hsl(210, 100%, 40%),
    700: hsl(210, 100%, 30%),
    800: hsl(210, 100%, 20%),
    900: hsl(210, 100%, 10%),
  ),
  blue: (
    100: hsl(240, 100%, 90%),
    200: hsl(240, 100%, 80%),
    300: hsl(240, 100%, 70%),
    400: hsl(240, 100%, 60%),
    500: hsl(240, 100%, 50%),
    600: hsl(240, 100%, 40%),
    700: hsl(240, 100%, 30%),
    800: hsl(240, 100%, 20%),
    900: hsl(240, 100%, 10%),
  ),
  purple: (
    100: hsl(270, 100%, 90%),
    200: hsl(270, 100%, 80%),
    300: hsl(270, 100%, 70%),
    400: hsl(270, 100%, 60%),
    500: hsl(270, 100%, 50%),
    600: hsl(270, 100%, 40%),
    700: hsl(270, 100%, 30%),
    800: hsl(270, 100%, 20%),
    900: hsl(270, 100%, 10%),
  ),
  magenta: (
    100: hsl(300, 100%, 90%),
    200: hsl(300, 100%, 80%),
    300: hsl(300, 100%, 70%),
    400: hsl(300, 100%, 60%),
    500: hsl(300, 100%, 50%),
    600: hsl(300, 100%, 40%),
    700: hsl(300, 100%, 30%),
    800: hsl(300, 100%, 20%),
    900: hsl(300, 100%, 10%),
  ),
  pink: (
    100: hsl(330, 100%, 90%),
    200: hsl(330, 100%, 80%),
    300: hsl(330, 100%, 70%),
    400: hsl(330, 100%, 60%),
    500: hsl(330, 100%, 50%),
    600: hsl(330, 100%, 40%),
    700: hsl(330, 100%, 30%),
    800: hsl(330, 100%, 20%),
    900: hsl(330, 100%, 10%),
  ),
  fresh-blue: (
    100: hsl(208, 100%, 90%),
    200: hsl(208, 100%, 80%),
    300: hsl(208, 100%, 70%),
    400: hsl(208, 100%, 60%),
    500: hsl(208, 100%, 50%),
    600: hsl(208, 100%, 40%),
    700: hsl(208, 100%, 30%),
    800: hsl(208, 100%, 20%),
    900: hsl(208, 100%, 10%),
  ),
  dust-red: (
    100: hsl(4, 100%, 97%),
    200: hsl(5, 100%, 89%),
    300: hsl(3, 100%, 81%),
    400: hsl(1, 100%, 73%),
    500: hsl(359, 100%, 65%),
    600: hsl(357, 91%, 55%),
    700: hsl(355, 83%, 44%),
    800: hsl(353, 92%, 34%),
    900: hsl(351, 100%, 25%),
    1000: hsl(349, 100%, 18%),
  ),
  volcano: (
    100: hsl(26, 100%, 95%),
    200: hsl(23, 100%, 87%),
    300: hsl(21, 100%, 79%),
    400: hsl(19, 100%, 72%),
    500: hsl(17, 100%, 64%),
    600: hsl(15, 96%, 55%),
    700: hsl(13, 88%, 44%),
    800: hsl(11, 98%, 34%),
    900: hsl(9, 100%, 26%),
    1000: hsl(7, 100%, 19%),
  ),
  sunset-orange: (
    100: hsl(41, 100%, 95%),
    200: hsl(39, 100%, 86%),
    300: hsl(37, 100%, 78%),
    400: hsl(35, 100%, 71%),
    500: hsl(33, 100%, 63%),
    600: hsl(31, 96%, 53%),
    700: hsl(29, 93%, 43%),
    800: hsl(27, 100%, 34%),
    900: hsl(25, 100%, 26%),
    1000: hsl(23, 100%, 19%),
  ),
  gold: (
    100: hsl(50, 100%, 95%),
    200: hsl(48, 100%, 86%),
    300: hsl(46, 100%, 78%),
    400: hsl(44, 100%, 70%),
    500: hsl(42, 100%, 62%),
    600: hsl(40, 96%, 53%),
    700: hsl(38, 94%, 43%),
    800: hsl(36, 100%, 34%),
    900: hsl(34, 100%, 26%),
    1000: hsl(32, 100%, 19%),
  ),
  sunrise-yellow: (
    100: hsl(62, 100%, 95%),
    200: hsl(60, 100%, 86%),
    300: hsl(58, 100%, 78%),
    400: hsl(56, 100%, 70%),
    500: hsl(54, 100%, 62%),
    600: hsl(52, 96%, 53%),
    700: hsl(50, 94%, 43%),
    800: hsl(48, 100%, 34%),
    900: hsl(46, 100%, 26%),
    1000: hsl(44, 100%, 19%),
  ),
  lime: (
    100: hsl(67, 100%, 95%),
    200: hsl(69, 100%, 86%),
    300: hsl(71, 100%, 78%),
    400: hsl(73, 85%, 66%),
    500: hsl(75, 78%, 56%),
    600: hsl(77, 85%, 46%),
    700: hsl(79, 95%, 36%),
    800: hsl(81, 100%, 27%),
    900: hsl(83, 100%, 20%),
    1000: hsl(85, 100%, 13%),
  ),
  forest-green: (
    100: hsl(90, 100%, 96%),
    200: hsl(92, 78%, 86%),
    300: hsl(94, 70%, 74%),
    400: hsl(96, 65%, 63%),
    500: hsl(98, 62%, 53%),
    600: hsl(100, 77%, 44%),
    700: hsl(102, 85%, 34%),
    800: hsl(104, 94%, 24%),
    900: hsl(106, 100%, 16%),
    1000: hsl(107, 100%, 8%),
  ),
  teal: (
    100: hsl(170, 100%, 95%),
    200: hsl(172, 76%, 84%),
    300: hsl(174, 68%, 72%),
    400: hsl(176, 64%, 61%),
    500: hsl(178, 61%, 51%),
    600: hsl(180, 82%, 42%),
    700: hsl(182, 90%, 32%),
    800: hsl(184, 100%, 23%),
    900: hsl(186, 100%, 15%),
    1000: hsl(189, 100%, 8%),
  ),
  sky-blue: (
    100: hsl(199, 100%, 95%),
    200: hsl(201, 100%, 86%),
    300: hsl(203, 100%, 78%),
    400: hsl(205, 100%, 71%),
    500: hsl(207, 100%, 63%),
    600: hsl(209, 100%, 55%),
    700: hsl(211, 92%, 44%),
    800: hsl(213, 100%, 35%),
    900: hsl(215, 100%, 27%),
    1000: hsl(217, 100%, 20%),
  ),
  sea-blue: (
    100: hsl(220, 100%, 97%),
    200: hsl(220, 100%, 92%),
    300: hsl(222, 100%, 84%),
    400: hsl(224, 100%, 76%),
    500: hsl(226, 91%, 66%),
    600: hsl(228, 82%, 55%),
    700: hsl(230, 74%, 44%),
    800: hsl(232, 82%, 34%),
    900: hsl(234, 90%, 25%),
    1000: hsl(236, 93%, 17%),
  ),
  indigo: (
    100: hsl(276, 100%, 97%),
    200: hsl(273, 100%, 93%),
    300: hsl(271, 82%, 82%),
    400: hsl(269, 73%, 71%),
    500: hsl(267, 68%, 60%),
    600: hsl(265, 64%, 50%),
    700: hsl(263, 71%, 39%),
    800: hsl(261, 79%, 29%),
    900: hsl(259, 86%, 20%),
    1000: hsl(257, 90%, 12%),
  ),
  fuchsia: (
    100: hsl(336, 100%, 97%),
    200: hsl(335, 100%, 92%),
    300: hsl(333, 100%, 84%),
    400: hsl(331, 100%, 76%),
    500: hsl(329, 91%, 66%),
    600: hsl(327, 82%, 55%),
    700: hsl(325, 74%, 44%),
    800: hsl(323, 82%, 34%),
    900: hsl(321, 90%, 25%),
    1000: hsl(319, 93%, 17%),
  ),
  neutral: (
    100: #ffffff,
    200: #fafafa,
    300: #f5f5f5,
    400: #ededed,
    500: #d9d9d9,
    600: #cacfd2,
    700: #8c8c8c,
    800: #595959,
    900: #414141,
    1000: #262626,
    1100: #1f1f1f,
    1200: #141414,
    1300: #000000,
  ),
);
